body{
  background-image: url("../img/background.png");
  background-repeat: repeat;

}

.video-content {
  position: relative;
  display: inline-block;
}
.video-content video {
  float: left;
  width: 100%;
}

#banner_section{
  display: none;
}

#desplegar{
  cursor: pointer;
}

.blur{
  filter: blur(2px);
}

#mobile_nav{
  position: fixed;
  z-index: 10;
}

